# Decision Analysis - Project 2 #

Daniel Jankowski 148257

Mateusz Ma≈Çecki 148265

## Introduction ##

In [1]:
import pandas as pd

data = pd.read_csv("DA_database.csv")

In [2]:
data

,name,prestige,power,price,engine_size,colour_preference,fuel_consumption,mileage,production_year,automatic_gear_box
0,Seat Ibiza 1.2 white,1,90,34900,"1,20",2,"6,00",90000,2015,0
1,Seat Ibiza 1.4 green,1,85,27800,"1,40",4,"6,90",82000,2015,0
2,Skoda Fabia grey,4,75,31500,"1,00",1,"5,80",215000,2019,0
3,Nissan Note grey,3,80,28500,"1,20",1,"6,00",133000,2014,0
4,MINI Cooper 1.6 blue,7,175,27900,"1,60",5,"8,00",183000,2006,0
5,Opel Corsa white,4,75,28500,"1,40",2,"6,00",130000,2017,0
6,Toyota Yaris 1.3 grey,5,99,27300,"1,30",1,"6,50",125000,2012,0
7,Citroen DS3 red,3,82,27900,"1,20",5,"5,00",130000,2014,0
8,Volkswagen Polo 1.2 white,5,105,37000,"1,20",2,"6,90",106000,2013,0
9,Toyota Yaris 1.0 white,5,69,34000,"1,00",2,"5,00",184000,2016,0
10,Abarth Grande Punto white,8,215,34900,"1,40",2,"10,60",158000,2009,0
11,MINI Cooper 1.5 grey,7,102,40000,"1,50",1,"7,30",54500,2018,0
12,Volkswagen Polo 1.2 red,5,105,35000,"1,20",5,"6,00",130000,2013,0
13,Hyundai i20 white,4,84,31000,"1,30",2,"6,00",173000,2016,0
14,Peugeot 208 red,3,101,34000,"1,20",5,"6,50",22100,2020,1
15,Audi A1 black,8,122,28000,"1,40",4,"6,50",144000,2010,1
16,Alfa Romeo Giuletta white,8,170,39000,"1,40",1,"7,00",91300,2013,1
17,Toyota Prius black,5,99,40000,"1,80",4,"5,00",301000,2011,1
18,Ford Fiesta blue,4,100,29900,"1,00",5,"6,00",130000,2015,1
19,Mercedes w116 brown,9,210,39000,"2,80",3,"12,50",205000,1977,1
20,Audi A1 red,8,122,35700,"1,40",5,"6,50",120000,2011,1
21,Jaguar xj red,10,200,35000,"4,20",5,"15,00",100000,1981,1

<table>
    <tr>
        <th>
            Criterion
        </th>
        <th>Type</th>
        <th>Discrete / Continuous</th>
        <th>Values / Range</th>
    </tr>
    <tr>
        <td>Prestige</td><td>Gain</td><td>Discrete</td><td>{1,2,3,4,5,6,7,8,9,10}</td>
    </tr>
    <tr>
        <td>Power</td><td>Gain</td><td>Continuous</td><td><69;215></td>
    </tr>
    <tr>
        <td>Price</td><td>Cost</td><td>Continuous</td><td><27,300; 40,000></td>
    </tr>
    <tr>
        <td>Engine size</td><td>Cost</td><td>Continuous</td><td><1.0; 4.2></td>
    </tr>
    <tr>
        <td>Colour preference</td><td>Gain</td><td>Discrete</td><td>{1,2,3,4,5}</td>
    </tr>
    <tr>
        <td>Fuel consumption</td><td>Cost</td><td>Continuous</td><td><2.0; 15.0></td>
    </tr>
    <tr>
        <td>Mileage</td><td>Cost</td><td>Continuous</td><td><22,100; 301,000></td>
    </tr>
    <tr>
        <td>Production year</td><td>Gain</td><td>Continuous</td><td><1977; 2020></td>
    </tr>
    <tr>
        <td>Automatic gear box</td><td>Gain</td><td>Discrete (binary in fact)</td><td>{0,1}</td>
    </tr>
</table>

## UTA Method ##

### Preferential information - pairwise comparisons ###

<b>11.</b> MINI Cooper 1.5 grey <span style="color:red"> ></span> <b>4.</b> MINI Cooper 1.6 blue <br>
<b>8.</b> Volkswagen Polo 1.2 white <span style="color:red"> ></span> <b>17.</b> Toyota Prius black <br>
<b>9.</b> Toyota Yaris 1.0 white <span style="color:red"> <</span> <b>18.</b> Ford Fiesta blue <br>
<b>20.</b> Audi A1 red <span style="color:red"> I</span> <b>15.</b> Audi A1 black

In [1]:
import pulp as pl